@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*::after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#wrapper {
  width: 100%;
  overflow: hidden;
  /*min-width:750px;*/
}
header h1 {
  font-size: 19px;
  padding: 30px 0 0 20px;
}
#mainabner {
  width: 100%;
  height: 600px;
  /*transform: skew(0 , -5deg);*/
  background: url("../images/koryaksky-volcano-2790656_1920.jpg");
  background-attachment: fixed;
  background-position: center;
  transition: 70s;
  background-size: cover;
}
#mainabner.scale01 {
  transform: scale(2);
}

#baner {
  margin-top: 50px;
  width: 100%;
  height: 600px;
  overflow: hidden;
  position: relative;
}
.main_baner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 300px;
  border: 2px solid #fff;
  z-index: 7;
}
.main_baner > div {
  width: 95%;
  height: 90%;
  background: rgba(255, 255, 255, 0.5);
  margin: 2.5% auto;
  position: relative;
}
.main_baner > div > h1 {
  width: 100%;
  height: 100%;
  line-height: 260px;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  opacity: 0.9;
}
.main_baner > div > p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#logo {
  cursor: pointer;
  transform: translateY(40px);
  opacity: 0;
  transition: 0.3s;
}
#logo.on {
  transform: translateY(0px);
  opacity: 1;
}
#about {
  line-height: 1.5;
  width: 100%;
  text-align: right;
}
.effect7.back {
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.2);
}
.effect7 a.back02 {
  color: #fff;
}
.effect7 {
  /*box-shadow: 5px 0 10px rgba(0,0,0,.2); */
  min-width: 900px;
  z-index: 99;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  padding-left: 70%;
  transition: all 0.6s;
}
@media (max-width: 1600px) {
  .effect7 {
    padding-left: 55%;
  }
}
@media (max-width: 1200px) {
  .effect7 {
    padding-left: 45%;
  }
}
@media (max-width: 960px) {
  .effect7 {
    padding-left: 40%;
  }
}
.effect7 a {
  font-size: 18px;
  color: #000;
  position: relative;
  padding: 30px 0 10px 0;
  float: left;
  margin: 0 30px;
  text-transform: uppercase;
}

.effect7 a span:before {
  content: attr(data-hover);
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  padding: 30px 0 10px 0;
  border-bottom: 2px solid #0f4c82;
  transition: 0.5s;
  z-index: 1;
  overflow: hidden;
  color: #0f4c82;
}

.effect7 a:hover span:before {
  width: 100%;
}

/*/포트폴리오/*/

#porth5 {
  font-size: 25px;
  width: 200px;
  margin: 100px auto;
  height: 100px;
  text-align: center;
  position: relative;
  line-height: 150px;
}
#porth5:after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  background: #000;
  width: 60%;
  height: 5px;
}
.portfolio01,
.portfolio02 {
  width: 1200px;
  height: 600px;
  margin: 0 auto;
  /*border: 0.5px solid #aaa;*/
}
.portfolio01 {
  transform: translateY(150px);
  opacity: 0;
  transition: all 0.4s;
  margin-top: 100px;
}

.portfolio01.on2 {
  transform: translateY(0px);
  opacity: 1;
}

.portfolio02 {
  transform: translateY(150px);
  opacity: 0;
  transition: 0.4s;
}

.portfolio02.on3 {
  transform: translateY(0px);
  opacity: 1;
}

.port_left01,
.port_left02 {
  text-align: center;
  width: 35%;
  height: 100%;
  float: left;
  box-sizing: border-box;
  /*
	border: 1px solid red;*/
}

.port_right01 {
  width: 57%;
  height: 100%;
  background: #f1f1f1;
  float: right;
  box-shadow: 5px 8px 25px rgba(0, 0, 0, 0.3);
  transition: all 0.7s;
  background: url("../images/lotte01.jpg");
  background-size: cover;
}
.port_right02 {
  width: 57%;
  height: 100%;
  background: #f1f1f1;
  float: right;
  box-shadow: 5px 8px 25px rgba(0, 0, 0, 0.3);
  transition: all 0.7s;
  background: url("../images/yes2401.jpg");
  background-size: cover;
}
.port_right01:hover {
  transform: scale(1.1);
}
.port_right02:hover {
  transform: scale(1.1);
}
.portfolio02 {
  margin-top: 260px;
}

.port_left02 {
  float: right;
}
.port_right02 {
  float: left;
}
.port_left01 {
  padding-right: 10px;
  text-align: left;
}
.port_left01 h4 {
  font-size: 30px;
  margin-bottom: 10px;
}
.port_left01 .view0 {
  font-size: 16px;
  padding-bottom: 100px;
}

.port_left01 .palette {
  float: right;
  width: 100%;
  height: 150px;
}
.port_left01 .palette > p {
  padding-right: 15px;
  font-size: 16px;
  text-align: right;
  margin-bottom: 30px;
}
.port_left01 .palette a {
  width: 80px;
  height: 90px;
  background: #fea;
  float: right;
  display: block;
  margin: 0 6px;
  position: relative;
}
.port_left01 .palette a span,
.port_left02 .palette a span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: #fff;
  font-weight: 400;
  line-height: 6;
  background: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  font-family: "Noto Sans CJK KR";
  opacity: 0;
  transition: 0.4s;
}
.port_left01 .palette a:hover span,
.port_left02 .palette a:hover span {
  opacity: 1;
}

.port_left02 .palette a:hover span {
  opacity: 1;
}
.port_left01 .view {
  clear: both;
  width: 100%;
  /*border: 1px solid red;*/
  padding: 30px 0 0 10px;
  text-align: right;
  line-height: 2.5;
  margin-bottom: 40px;
}

.port_left01 .palette a:nth-child(2) {
  background: #5c11e6;
  transition: 0.4s;
}

.port_left01 .palette a:nth-child(3) {
  background: #7233e5;
}
.port_left01 .palette a:nth-child(4) {
  background: #f53662;
}
.port_left01 .palette a:nth-child(5) {
  background: #f8f8f8;
}

/*예스24 문구 꾸미기*/

.port_left02 h4 {
  text-align: right;
  font-size: 30px;
  margin-bottom: 10px;
}
.port_left02 .view0 {
  text-align: right;
  font-size: 16px;
  padding-bottom: 100px;
}

.port_left02 .palette {
  float: right;
  width: 100%;
  height: 150px;
}
.port_left02 .palette > p {
  padding-right: 15px;
  font-size: 16px;
  text-align: right;
  margin-bottom: 30px;
}
.port_left02 .palette a {
  width: 80px;
  height: 90px;
  background: #fea;
  float: right;
  display: block;
  margin: 0 6px;
  position: relative;
}
.port_left02 .view {
  clear: both;
  width: 100%;
  /*border: 1px solid red;*/
  padding: 30px 0 0 10px;
  text-align: right;
  line-height: 2.5;
  margin-bottom: 40px;
}

.port_left02 .palette a:nth-child(2) {
  background: #f6f6f6;
  transition: 0.4s;
}

.port_left02 .palette a:nth-child(3) {
  background: #18caa6;
}
.port_left02 .palette a:nth-child(4) {
  background: #ffa500;
}

.btn01 {
  display: block;
  border: 1px solid #aaa;
  position: relative;
  width: 100%;
  color: #000;
  line-height: 60px;
  text-decoration: none;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  background: none;
  outline: none;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 5px;
}

.btn01:hover {
  color: #2a5dab;
  border: 1px solid #2a5dab;
}

/*섹션 01 */

#content_box {
  /*width: 1800px;*/
  opacity: 1;
  width: 1200px;
  height: 500px;
  margin: 300px auto;
  position: relative;
  /*overflow: hidden;*/
  transition: 0.5s;
  margin-bottom: 250px;
}

#content_box img {
  position: absolute;
  top: 100px;
  left: 0;
}
#content_box h5 {
  position: relative;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  margin-bottom: 100px;
}
#content_box h5:after {
  position: absolute;
  content: "";
  bottom: -16px;
  left: 50%;
  transform: translateX(-50%);
  width: 30%;
  height: 5px;
  background: #000;
}
.container {
  height: 350px;
  max-width: 750px;
  margin: 40px auto;
}

.progress-bar {
  margin: 0 0 20px;
  overflow: hidden;
  padding-right: 24px; /* Separate bars from container */
}

.progress-title-holder {
  padding-bottom: 7px;
  position: relative;
  margin: 5px 0;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  color: #2e2e2e;
}

.progress-title {
  z-index: 100;
}

.progress-number-wrapper {
  width: 100%;
  z-index: 10;
}

.progress-number-mark {
  margin-bottom: 4px;
  background-color: rgb(22, 23, 29);
  padding: 0 8px;
  position: absolute;
  bottom: 0;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.progress-number-wrapper,
.progress-number-mark {
  font-family: Open Sans, sans-serif;
  font-size: 11px;
  line-height: 24px;
  height: 24px;
  letter-spacing: 0px;
  font-weight: 600;
  font-style: normal;
  text-transform: none;
  color: #888;
  background: #e7edf7;
}

.down-arrow {
  /* 말풍선 밑 삼각형*/
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 3px solid #e7edf7;
  position: absolute;
  left: 50%;
  top: 100%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}

.progress-content-outter {
  /*막대바*/
  height: 20px;
  background-color: #ffffff;
}

.progress-content {
  height: 21px;
  background-color: #879bb8;
  opacity: 0.5;
  width: 0%; /* Initial value */
}

/*박스 02 */

#box01 {
  width: 100%;
  height: 1400px;
  /*background: url("../images/background01.jpg");*/
  /*background-attachment: scroll;*/
}
.text01 h1 {
  font-size: 25px;
  width: 200px;
  margin: 0 auto;
  height: 40px;
  text-align: center;
  position: relative;
}
.text01 h1:after {
  position: absolute;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  background: #000;
  width: 60%;
  height: 5px;
}
.a_box01 {
  width: 1100px;
  margin: 0 auto;
  height: 1100px;
  margin-top: 100px;
  opacity: 0;
  transition: 0.4s;
  transform: translateY(150px);
}
.a_box01.on5 {
  opacity: 1;
  transform: translateY(0px);
}
.a_box01 a {
  width: 30.66%;
  height: 33.33%;
  background: rgba(0, 0, 0, 0.2);
  float: left;
  box-sizing: border-box;
  position: relative;
}
.a_box01 a:hover img {
  transform: scale(1.5);
}
.a_box01 a .flash span {
  display: block;
  position: absolute;
  z-index: 2;
}
.a_box01 a .flash span:nth-child(1) {
  top: 0;
  height: 6px;
  width: 0;
  transition: all 0.1s;
  background: linear-gradient(to right, #dcddfb 0%, #d7e5fd 100%);
}
.a_box01 a .flash span:nth-child(2) {
  top: 0;
  right: 0;
  height: 0;
  width: 6px;
  transition: all 0.1s;
  transition-delay: 0.1s;
  background: linear-gradient(to top, #d7e5fd 0%, #c8fefb 100%);
}
.a_box01 a .flash span:nth-child(3) {
  bottom: 0;
  right: 0;
  height: 6px;
  width: 0;
  transition: all 0.1s;
  transition-delay: 0.2s;
  background: linear-gradient(to right, #aeb4f6 0%, #c8fefb 100%);
}
.a_box01 a .flash span:nth-child(4) {
  bottom: 0;
  left: 0;
  height: 0;
  width: 6px;
  transition: all 0.1s;
  transition-delay: 0.3s;
  background: linear-gradient(to top, #aeb4f6 0%, #c8fefb 100%);
}

.a_box01 a:hover .flash span:nth-child(1) {
  width: 100%;
  transition: all 0.2s;
}
.a_box01 a:hover .flash span:nth-child(2) {
  height: 100%;
  transition: all 0.2s;
  transition-delay: 0.2s;
}
.a_box01 a:hover .flash span:nth-child(3) {
  width: 100%;
  transition: all 0.2s;
  transition-delay: 0.4s;
}
.a_box01 a:hover .flash span:nth-child(4) {
  height: 100%;
  transition: all 0.2s;
  transition-delay: 0.6s;
}

.a_box01 a:nth-child(3) {
  margin-right: 4%;
}
.a_box01 a:nth-child(4) {
  margin-right: 4%;
}
.a_box01 .firstbox:nth-child(1) {
  margin-left: 0;
  margin-right: 2%;
}
.a_box01 .firstbox {
  width: 48%;
  height: 46%;
  margin-left: 2%;
  margin-bottom: 4%;
}
.a_box01 a {
  overflow: hidden;
}

.a_box01 img {
  width: 100%;
  height: 100%;
  transition: 2s;
}
.about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 86%;
  height: 86%;
  border: 1px solid rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.1);
  z-index: 5;
  opacity: 0;
  transition: 0.8s;
  padding: 0 20px;
}
.about p:nth-child(1) {
  text-transform: uppercase;
  font-family: "Noto Sans CJK KR";
  font-size: 30px;
  color: #fff;
  text-align: center;
  padding: 40% 0 0 0;
}
.about p:nth-child(2) {
  padding-top: 30px;
  font-size: 16px;
  color: #fff;
  line-height: 1.5;
}
.a_box01 a:hover .about {
  opacity: 1;
}
.ab_text {
  width: 97%;
  margin: 0 auto;
  text-align: center;
}

/*박스 02 */
#box02 {
  width: 100%;
  height: 1200px;
  background: #fff;
  margin: 0px auto;
  position: relative;
  transition: 0.5s;
  /*transform: translateY(100px);*/
  opacity: 1;
}
#box02.on6 {
  transform: translateY(0px);
  opacity: 1;
}
.ul01 > li > a {
  position: relative;
}
.ul01 > li > a:hover .square {
  opacity: 1;
}
.square {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.square p {
  width: 230px;
  height: 80px;
  margin: 120px auto;
  color: rgba(255, 255, 255, 0.9);
  font-size: 15px;
  line-height: 1.4;
  text-align-last: center;
}
.text02 {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  /*border: 1px solid #fff;*/
}
.text02 > span {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  /*	width:810px;
	height: 10px;
	background: #000;*/
}
.sspan1.width,
.sspan2.width {
  /*width: 810px;*/
  width: 70%;
}
.sspan1,
.sspan2 {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  width: 0;
  height: 10px;
  background: #0f4c82;
  transition: 0.5s;
}
.hone2 {
  transition-delay: 0.8s;
}
#box02 .hone1.trans {
  opacity: 1;
  transform: translateX(0);
}
#box02 .hone2.trans {
  opacity: 1;
  transform: translateX(0);
}

#box02 .hone1,
#box02 .hone2 {
  transition: 0.5s;
  transform: translateX(500px);
  opacity: 0;
  text-transform: uppercase;
  font-size: 30px;
  text-align: right;
  color: #000;
  padding: 30px 0;
}

.view_wrap1,
.view_wrap2 {
  width: 1200px;
  height: 300px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  margin-bottom: 100px;
}
.view_wrap1 > ul,
.view_wrap2 > ul {
  width: 2450px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}
.view_wrap1 > ul > li > a,
.view_wrap2 > ul > li > a {
  display: block;
  float: left;
  width: 285px;
  height: 300px;
  margin: 0 20px;
  background: rgba(255, 255, 255, 0.3);
  background: #aaa;
}
.view_wrap1 > ul > li > a:nth-child(1),
.view_wrap2 > ul > li > a:nth-child(1) {
  margin-left: 0;
}
.view_wrap1 > ul > li > a:nth-child(4),
.view_wrap2 > ul > li > a:nth-child(4) {
  margin-right: 0;
}

.left_btn {
  position: absolute;
  top: 200px;
  left: -50px;
  width: 25px;
  height: 25px;
  border-left: 4px solid rgba(0, 0, 0, 0.3);
  border-bottom: 4px solid rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
  cursor: pointer;
}
.right_btn {
  position: absolute;
  top: 200px;
  right: -50px;
  width: 25px;
  height: 25px;
  border-right: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid rgba(0, 0, 0, 0.3);
  transform: rotate(45deg);
  cursor: pointer;
}

.left_btn:hover {
  border-left: 4px solid rgba(0, 0, 0, 0.6);
  border-bottom: 4px solid rgba(0, 0, 0, 0.6);
}
.right_btn:hover {
  border-right: 4px solid rgba(0, 0, 0, 0.6);
  border-top: 4px solid rgba(0, 0, 0, 0.6);
}
.view_wrap2 > ul > li > a,
.view_wrap1 > ul > li > a {
  overflow: hidden;
}
.view_wrap2 > ul > li > a > img {
  transition: 1s;
}
.view_wrap1 > ul > li > a img {
  transition: 4s;
}
.view_wrap2 > ul > li > a:hover img,
.view_wrap1 > ul > li > a:hover img {
  transform: scale(1.5);
}

#box02 .text01 {
  margin-bottom: 60px;
}
#box02 .text01 h1:after {
  display: none;
}
/*top 버튼 style*/

.top {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 80px;
  top: 100px;
  -webkit-transition: top 0.5s;
  transition: top 0.5s;
}
.top p {
  font-size: 16px;
  color: #fff;
  font-weight: 900;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 60px;
}
#topbox {
  width: 60px;
  height: 60px;
  position: relative;
  animation: box 6s linear 0s infinite;
  transform-style: preserve-3d;
  cursor: pointer;
}
#topbox div {
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  opacity: 0.7;
}

.top span {
  display: block;
  width: 30px;
  height: 30px;
  color: #a6add9;
  font-size: 20px;
  font-weight: 900;
  margin: 0 0 10px 31px;
  line-height: 30px;
  transform: translateX(-50%);
}

#topbox div:nth-child(3) {
  transform: rotateY(90deg) translate3d(0px, 0px, 30px);
  background: #dcddfb; /*보라*/
}
#topbox div:nth-child(4) {
  transform: rotateY(180deg) translate3d(0px, 0px, 30px);
  background: #5694cc;
}
#topbox div:nth-child(5) {
  transform: rotateY(270deg) translate3d(0px, 0px, 30px);
  background: #d7e5fd; /* 분홍*/
}

#topbox div:nth-child(6) {
  transform: rotateX(90deg) translate3d(0px, 0px, 30px);
  background: #eef3f8;
}
#topbox div:nth-child(7) {
  transform: rotateX(270deg) translate3d(0px, 0px, 30px);
  background: #73a3fc;
}

@keyframes box {
  from {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
  }
}

footer {
  width: 100%;
  height: 200px;
  background: #0b3861;
}

.address {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0 0 0;
}
footer p:nth-child(1) {
  font-size: 40px;
  font-family: "Noto Sans CJK KR";
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;
}
footer p:nth-child(2),
footer p:nth-child(3) {
  font-size: 15px;
  font-family: "Noto Sans CJK KR";
  color: #fff;
  margin: 20px 0 0 0;
  font-weight: 300;
}

/* 2023.07 추가  */

#scroll_progress_bar {
  position: fixed;
  top: 70px;
  left: 0;
  height: 3px;
  background-color: #9596bf;
  width: 0%;
  z-index: 99;
}
